<div>
  <h2 class="text-2xl">Place to stay</h2>
  <div class="houses">
    <% @houses.each do |home| %>
      <%= link_to home do %>
        <div>
          <%= image_tag home.picture, alt: 'House picture' %>
          <p>
            <%= home.home_type %> &bull; <%= home.town %>
          </p>
          <%= home.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
